.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}



.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icons-color);
    transition: fill var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
                border: 1px solid var(--accent-color);
                fill: #2196F3;
            }
}